<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>Movies</h2>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="editmovie" class="btn btn-primary">New Movie</a>
            </li>
        </ul>
    </nav>

    <div class="router">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="movies$">
        <ul class="list-group">
            <div class="list-group" *ngFor="let movie of movies$ | async; let i=index">
                <div class="row">
                    <div class="col-sm-8">
                        <a [routerLink]="['detail', movie.id]">
                            {{ movie.id}} - {{ movie.name}} {{movie.releaseYear}}
                        </a>
                        <button type="button" class="btn btn-default" (click)="delete(i)">
                            <fa-icon [icon]="trashIcon"></fa-icon>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <a href={{movie.imdbUrl}}>{{movie.name}} at imdb</a>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>